/* Elements */

body{
  width: 100%;
  background-color: #F7FFE5;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.6rem;
  }
  
  h2 {
    font-family: monospace;
    font-size: 1.2rem;
  }

  h3{
    padding: 8px;
  }

  h4 {
    font-size: 1.05rem;
    padding-bottom: 6px;
  }

  p{
    font-family: 'Montserrat', sans-serif;
  }

  i{
    margin-right: 10px;
    color: #08020292;
  }

  .about-me-skill > i{
    font-size: 3rem;
  }

  .section-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #73BBC9;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  /* Navbar */

  .header-icons{
    padding-right: 10px;
  }

  .header-icon{
    height: 20px;
    width: 20px;
    margin: 8px;
    color: white;
  }

  /* Main Banner */
  
  #main-banner {
    background-color: black;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
  
  .main-banner-img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .main-banner-info {
    color: white;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .main-banner-info {
      height: 360px;
      padding: 35px 15px;
      padding-top: 80px;
    }
  
    .company-logo {
      width: 100%;
      height: auto;
    }
  }
  
  .main-banner-info > a {
    margin: 12px;
  }
  
  /* About Me */
  
  #about-me {
    display: flex;
    background-color: #fce9f15d;
    padding: 15px 10px;
    justify-content: center;
    border-radius: 5%;
  }
  
  .about-me-description {
    position: relative;
    clear: right;
  }
  
  #my-picture {
    float: left;
    width: 30%;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 22%;
    border: 0.5rem double #98A8F8;
  }
  
  .skills-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    justify-content: center;
  }

  .about-me-skill {
    padding: 12px;
    margin: 1rem;
    border: #080202 double;
    background-color: #B4CDE6;
    color: #080202;
    text-align: center;
  }

  .about-me-skill > p{
    text-align: justify;
  }
  
  /* Work Experience */
  
  .company-logo {
    padding: 7px;
    width: 75%;
    max-width: 250px;
  }
  
  /* Education */

  #education{
    padding: 7px 0;
  }

  .education-item{
    background-color: #FCE9F1;
    justify-content: center;
  }

  .education-item > p{
    font-size: 0.8rem;
  }

  .badge{
    width: 100%;
    height: auto;
    padding: 3px;
  }
  /* My Projects */
  
  .project-container {
    background-color: #080202;
    padding: 0.2rem;
    align-items: center;
    align-content: center;
    position: relative;
  }
  
  .project-img {
    width: 100%;
  }

  .project-title{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .blog-post{
    padding: 6px;
    text-align: center;
    margin-bottom: 4px;
  }

  .blog-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.7rem;
  }

  /* Shop */

  #shop{
    padding: 8px 0 8px 0;
  }

  .shop-item{
    padding: 5px;
  }

  .shop-item img{
    height: 58vh;
  }
  /* Contact Me */

#contact-container{
  background-color: #73BBC9;
  color: #080202;
}

.form-text{
    font-size: 0.7rem;
}

.contact-img{
    height: 200px;
}

#contact-container{
    padding: 3% 5%;
}
