/* Elements */

body{
  max-width: 100vw;
  width: 100%;
  background-color: #2b262a;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.6rem;
  }
  
  h2 {
    font-family: monospace;
    font-size: 1.2rem;
  }

  h3{
    padding: 8px;
    color: #2b262a;
  }

  h4 {
    font-size: 1.05rem;
    padding-bottom: 6px;
  }

  h5 {
    padding: 0;
    margin: 0;
  }

  p{
    font-family: 'Montserrat', sans-serif;
  }

  i{
    margin-right: 10px;
    color: #08020292;
  }

  .row {
    --bs-gutter-x: 0;
  }

  .row div {
    max-width: 100vw;
  }

  .container-fluid{
    max-width: 100vw;
  }

  .about-me-skill > i{
    font-size: 3rem;
  }

  .section-title{
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #7c8acf;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  /* Navbar */

  .header-icons{
    padding-right: 10px;
  }

  .header-icon{
    height: 20px;
    width: 20px;
    margin: 8px;
    color: white;
  }

  .languages {
    color: #f7fafb;
    margin-right: 4rem;
  }

  .languages a {
    display: inline-block;
    padding: 0.4rem;
    color: #f7fafb;
    background-color: #7c8acf;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.9rem;
    padding: 0;
  }

  .languages a:hover {
    color: #7c8acf;
    background-color: #f7fafb;
  }

  /* Main Banner */
  
  #main-banner {
    background-color: black;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    max-width: 100vw;
  }
  
  .main-banner-img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .main-banner-info {
    color: white;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .main-banner-info {
      max-width: 100vw;
      height: 360px;
      padding: 35px 15px;
      padding-top: 80px;
    }
  
    .company-logo {
      width: 100%;
      height: auto;
    }
  }
  
  .main-banner-info > a {
    margin: 12px;
  }
  
  /* About Me */
  
  #about-me {
    display: flex;
    background-color: #f7fafb;
    padding: 15px 10px;
    justify-content: center;
    border-radius: 5%;
  }
  
  .about-me-description {
    position: relative;
    clear: right;
  }
  
  #my-picture {
    float: left;
    width: 30%;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 22%;
    border: 0.5rem double #7c8acf;
  }
  
  .skills-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    font-size: 0.8rem;
  }

  .about-me-skill {
    padding: 12px;
    margin: 1rem;
    border: #7c8acf double;
    background-color: #2b262a;
    color: #f7fafb;
    text-align: center;
  }

  .about-me-skill > p{
    text-align: justify;
  }

  .about-me-skill i {
    color: #fff274;
  }
  
  /* Work Experience */
  
  .company-logo {
    padding: 7px;
    width: 75%;
    max-width: 250px;
  }
  
  /* Education */

  #education{
    padding: 7px 0;
  }

  .education-item{
    background-color: #FCE9F1;
    padding: 0 1rem;
    justify-content: center;
  }

  .education-item > p{
    font-size: 0.8rem;
  }

  .badge{
    width: 100%;
    height: auto;
    padding: 0.8rem;
  }
  
  /* Books */

  #books{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: stretch;
    margin-bottom: 1rem;
  }

  .book-card{
    display: flex;
    justify-content: center;
    background-color: #f7fafb;
    width: 25rem;
    border-radius: 5%;
    border: 0.5rem double #7c8acf;
  }

  .book-card .row{
    --bs-gutter-x: 1.5rem;
  }

  .book-card-right,
  .book-card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.4rem;
    width: 12.2rem;    
  }

  .book-img {
    width: 100%;
    text-align: center;
    padding: 0.4rem;
  }

  .book-price {
    background-color: #fff274;
    color: #2b262a;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.2rem;
  }

  .book-title {
    color: #2b262a;
    padding: 0.2rem 1rem;
  }

  .book-tags {
    display: flex;
    justify-content: space-evenly;
  }

  .book-tags p {
    background-color: #fff274;
    color: #2b262a;
    padding: 0.4rem;
    margin: 0 0 0 0.4rem;
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
  }

  .book-description {
    color: #2b262a;
    width: 100%;
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
  }

  .book-button {
    background-color: #7c8acf;
    text-align: center;
  }

